@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #eeeeee;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #373a40;
}

main {
  padding: 16px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  font-size: 48px;
}

section.board {
  max-width: 480px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

div.cell {
  width: 160px;
  height: 160px;
  border: 4px solid #686d76;
  font-size: 8em;
  font-weight: 400;
  text-align: center;
  line-height: 160px;
}

div.cell:nth-child(3n) {
  border-right: none;
}

div.cell:nth-child(3n + 1) {
  border-left: none;
}

div.cell:nth-child(n + 7) {
  border-bottom: none;
}

div.cell:nth-last-child(n + 7) {
  border-top: none;
}

div.winner {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  padding: 26px;
  background: #373a40F0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.winner p {
  font-weight: bold;
  font-size: 52px;
  color: #eeeeee;
}