@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #eeeeee;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #373a40;
}

main {
  padding: 16px;
}

header {
  text-align: center;
  margin-bottom: 40px;
  padding: 0 20px;
}

h1 {
  font-size: 48px;
}

section.board {
  max-width: 270px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}

div.cell {
  width: 90px;
  height: 90px;
  border: 4px solid #686d76;
  text-align: center;
  font-weight: 400;
  line-height: 80px;
  font-size: 80px;
}

div.cell:nth-child(3n) {
  border-right: none;
}

div.cell:nth-child(3n + 1) {
  border-left: none;
}

div.cell:nth-child(n + 7) {
  border-bottom: none;
}

div.cell:nth-last-child(n + 7) {
  border-top: none;
}

footer {
  margin-top: 32px;
  text-align: center;
  padding: 0 20px;
}

div.winner {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  padding: 26px;
  background: #373a40F0;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

div.winner p {
  font-weight: bold;
  font-size: 52px;
  color: #eeeeee;
}

.reset {
  cursor: pointer;
  color: #19d3da;
  font-weight: bold;
  font-size: 32px;
}

.info {
  font-size: 24px;
}

a {
  color: #ddfbfc;
}

@media (min-width: 480px) {
  section.board {
    max-width: 420px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  div.cell {
    width: 140px;
    height: 140px;
    border: 4px solid #686d76;
    font-size: 8em;
    font-weight: 400;
    text-align: center;
    line-height: 140px;
  }
}

@media (min-width: 768px) {
  section.board {
    max-width: 540px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  div.cell {
    width: 180px;
    height: 180px;
    border: 4px solid #686d76;
    font-size: 8em;
    font-weight: 400;
    text-align: center;
    line-height: 180px;
  }
}